
<div class="container">
        <div class="row">
            <div class="column-lg-4">
               <a routerLink="/Newcomponent" class="nav-link" routerLinkActive="active">Link 1</a>
            </div>
            <div class="column-lg-4">
               <a routerLink="/Comp3" class="nav-link" routerLinkActive="active">Link 2</a>
            </div>
        </div>
      </div>
    
      
    
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
      <img class="mainicon" width="300" alt="Angular Logo" src="https://www.nicepng.com/png/detail/157-1576057_geometric-png-tumblr-triangle.png">
      <h2>Default Page</h2>
    
    <div class="topbar">
    
    
    
    
    
    
    </div>
    
    </div>
    
    
    
    
    
    